.name {
        display: block;
        margin-bottom: 10px;
        width: 200px;
        height:30px;
        font-size: 15px;
        padding-left: 10px;
    }
    .email {
        display: inline;
        width: 200px;
        height:30px;
        font-size: 15px;
        padding-left: 10px;
        display: block;
        margin-bottom: 15px;
    }

    .paracustsup {
        display: inline-block;
        width: 260px;
        font-size: 20px;
        vertical-align: middle;
    }

    .yes,
    .no {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    .no {
        margin-left: 5px;
    }

    .searchgoogle {
    height: 40px;
    width:800px;
    font-size: 20px;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0px 0px 8px grey;
    padding-left: 12px;
    border-radius: 7px;
    color: rgb(100, 99, 99);
    margin-left: 250px;
    padding-left: 40px;
    }

    .googlelogo {
        width: 500px;
        display: block;
        margin-left: 400px;
    }
