.googlelogo {
    width: 400px;
    display: block;
    margin-left: 400px;
}

.searchgoogle {
    height: 40px;
    width:700px;
    font-size: 20px;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px grey;
    padding-left: 12px;
    border-radius: 20px;
    color: rgb(100, 99, 99);
    margin-left: 250px;
    margin-bottom: 50px;
    padding-left: 40px;
    display: block;
}

.googlesearch {
    height: 40px;
    width: 150px;
    font-size: 16px;
    margin-right: 50px;
    margin-left: 30px;
}

.feellucky {
    height: 40px;
    width: 150px;
    font-size: 16px;
}
.buttons {
    display: block;
    padding-left: 400px;
    padding-right: 400px;
}