.scene {
    width: 200px;
    border-radius: 10px;
}
.flower {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-left: 100px;
    margin-right: 100px;
}

.flower1 {
    width: 240px;
    height: 240px;
    border-radius: 120px;
    object-fit: cover;
}

.search {
    height: 30px;
    width: 200px;
    font-size: 20px;
    padding-left: 12px;
    border-radius: 7px;
    color: rgb(100, 99, 99);
    margin-right: 200px;
    margin-bottom: 50px;
}

.searchgoogle {
    height: 40px;
    width: 500px;
    font-size: 20px;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0px 0px 8px grey;
    padding-left: 12px;
    border-radius: 7px;
    color: rgb(100, 99, 99);
}

.inpt {
    width: 370px;
}

.email {
    font-size: 17px;
}
.agreejointxt {
    font-size: 17px;
    margin-bottom: 10px;
}

.agreejoinbut {
    background-color: rgb(54, 71, 195);
    color: white;
    width: 370px;
    height: 40px;
    font-size: 19px;
    font-family: 'calibri';
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
    display: block;
    margin-bottom: 70px;
}

.agreejoinbut:hover {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4);
}

.flower2 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    vertical-align: middle;
}

.tweettxt {
    font-size: 20px;
    color: rgb(100, 99, 99);
    vertical-align: middle;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-style: none;
}

.tweetbut {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(29, 155, 240);
    color: white;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.tweetbut:hover {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.4); 
}
.tweetbut:active {
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1); 
}