p {
    text-align: center;
    font-size: 23px;
    font-family: montserrat;
}
.model {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.touchless {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}